# Download these when you create the device and/or generate new certs for it.
CERTFILE="/path/to/certs/certificate.pem.crt"
KEYFILE="/path/to/certs/private.pem.key"
CAFILE="/path/to/certs/Amazon-root-CA-1.pem"

# Next two need to be set up in policies attached to the certs above.
# See https://eu-west-1.console.aws.amazon.com/iot/home?region=eu-west-1#/policyhub
CLIENT_ID=RaspberryPi
LOGGING_TOPIC=logging/topic

# Find this in https://eu-west-1.console.aws.amazon.com/iot/home?region=eu-west-1#/settings
ENDPOINT="endpointname-ats.iot.eu-west-1.amazonaws.com"
